/* font-family: 'Cabin', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Lato', sans-serif; */

/* -------------------- SHARED STYLES -------------------- */

/* Fonts - Cabin */
nav li a, 
.value, 
.get-started h3,
.categories .container .column.get-started a {
    font-family: 'Cabin', sans-serif;
}

/* Fonts - Playfair */
.hero h1, 
.hero h2,
.steps h3,
.steps li:before,
.product h2, 
.sign-up h2 {
    font-family: 'Playfair Display', serif;
}

/* Fonts - Lato */
.hero p, 
.hero h3, 
.value-description, 
.sign-up h3, 
.sign-up p, 
footer a, 
footer p, 
.sign-up form 
.button-primary,
.get-started p,
.steps p,
.product p,
.product a {
    font-family: 'Lato', sans-serif;
}

/* -------------------- BACKGROUND -------------------- */
/* html {
    background: url("../img/makerpaper-bg.png") no-repeat center center fixed;
} */
/* 
html,body {
    background: url("../img/makerpaper-bg.png") no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;   
    -o-background-size: cover;      
    background-size: cover;     
}
 */


/* -------------------- NAVIGATION -------------------- */
nav {
    display: flex;
    padding: 10px;
    box-shadow: 0px 0px 8px 2px #ebebeb;
    margin-bottom: 110px;
}

nav .logo {
    z-index: 2;
}

nav ul {
    position: absolute;
    right: 10px;
    z-index: 2;
}

nav li {
    list-style-type: none;
    text-align: right;
}

nav li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 17px;
    /* lighter grey */
    color: #3A3A3C;
}

nav li a:hover {
    /* salmon color */
    color: #FA7165;
    text-decoration: underline;
    text-decoration-style: wavy;
}

@media (min-width: 550px) {

    nav {
        padding: 30px;
    }

    nav ul {
        right: 30px;
        margin-top: 14px;
    }

    nav li {
        display: inline;
        text-align: initial;
    }

    nav li a {
        font-size: 20px;
        vertical-align: super;
    }

    nav li:nth-child(1) a {
        margin-right: 40px;
    }
}
/* -------------------- SVGs -------------------- */

body {
    position: relative;
}

.blob1, .blob2, .blob3, .blob4, .blob5, .blob6, .blob7, .blob8, .blob9, .blob10, .blob11, .blob12 {
    position: absolute;
}

.blob1 {
    top: 0;
    left: 0;
}

.blob2 {
    top: 165px;
    right: 0;
}

.blob3 {
    top: 440px;
    left: 100px;
}

.blob4 {
    top: 580px;
    left: 0;
}

.blob5 {
    top: 620px;
    right: 120px;
}

.blob6 {
    top: 1160px;
    left: 90px;
}

.blob7 {
    bottom: 770px;
    left: 0;
    z-index: 1;
}

.blob8 {
    bottom: 870px;
    right: 60px;
}

.blob9 {
    bottom: 360px;
    left: 110px;
}

.blob10 {
    bottom: 300px;
    right: 0;
}

.blob11 {
    bottom: 52px;
    left: 0;
    z-index: -1;
}

.blob12 {
    bottom: 0;
    right: 0;
    z-index: -1;
}

@media screen and (max-width: 550px) {
    .blob2, .blob3, .blob7, .blob9, .blob10 {
        display: none;
    }
}

/* -------------------- HERO -------------------- */
.hero {
    text-align: center;
}

.hero h1, .sign-up h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 50px;
}

.hero p, .product p {
    font-weight: 300;
    font-size: 24px;
}

.hero p {
    margin-bottom: 150px;
}

.hero h2 {
    font-size: 32px;
    font-weight: 700;
}

.hero h3 {
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 45px;
}

/* -------------------- VALUES -------------------- */
.svg-card {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.value, .value-description {
    font-size: 18px;
    color: #3A3A3C;
}

.value {
    font-weight: 400;
    margin-bottom: 7px;
}

.value-description {
    font-weight: 300;
    margin-bottom: 36px;
}

.descriptions {
    margin-top: 60px;
}

.values img {
    -moz-box-shadow: -6px 6px 17px 0 #ccc;
    -webkit-box-shadow: -6px 6px 17px 0 #ccc;
    box-shadow: -6px 6px 17px 0 #ccc;
}

.values .descriptions {
    text-align: center;
}

@media (min-width: 550px) {
    .values .descriptions {
        text-align: left;
    }
}

/* -------------------- STEPS -------------------- */

.categories {
    margin-bottom: 105px;
    margin-top: 84px;
    padding: 50px 0 50px 0;
    text-align: center;
}

.categories .container, 
.categories {
    background-image: linear-gradient(to right, #F1EFEA , #ECEAE7);
}

.get-started h3 {
    font-size: 28px;
    font-weight: 600;
}

.get-started p {
    font-size: 22px;
}

.categories .container .column.get-started a{
    background-color: transparent;
    border: 1px solid #FA7165;
    border-radius: 10px;
    color: #FA7165;
    font-size: 16px;
}

@media (min-width: 550px) {

    .categories {
        padding: 0;
    }

    .steps li, .get-started {
        margin-top: 40vh;
    } 

    .steps li {
        height: 50vh;
    }
    
    .steps li:nth-child(3) {
        margin-bottom: 18vh;
    }

    .get-started {
        text-align: left;
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 35vh;
    }

    .steps {
        background-image: linear-gradient(to bottom, #F3F3F2 , #f4f4f3);
        opacity: 32%;
        -moz-box-shadow:    inset 0 6px 15px 0 #ccc;
        -webkit-box-shadow: inset 0 6px 15px 0 #ccc;
        box-shadow:         inset 0 6px 15px 0 #ccc;
        padding: 0 50px 0 50px;
        text-align: center;
    }
}

.steps h3 {
    font-size: 22px;
    font-weight: 900;
    letter-spacing: 1px;
}

.steps p {
    font-size: 18px;
}

.steps ol {
    list-style: none;
    counter-reset: item;
  }

.steps li:before {
    counter-increment: item;
    content: counter(item) ". ";
    color: #FA7165;
    font-size: 42px;
    font-weight: 900;
    text-align: center;
    display: inline-block;
}

/* -------------------- SIGN-UP -------------------- */
.sign-up h3, .sign-up p {
    font-size: 32px;
    font-weight: 300;
    text-align: center;
}

.sign-up h3 {
    margin-bottom: 75px;
}

.sign-up p {
    margin-bottom: 65px;
    margin-top: 75px;
}

.sign-up p span {
    font-weight: 400;
}

.sign-up svg {
    display: block;
    margin: 0 auto;
}

.sign-up form {
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 88px;
    text-align: center;
}

.sign-up .indicates-required {
    text-align: left;
    font-style: italic;
    font-size: 12px;
}

.sign-up .platform-question {
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    color: #757575;
    margin-top: 14px;
}

.sign-up .dropdown {
    width: 100%;
    height: 38px;
    border: 1px solid #D1D1D1;
}

@media screen and (min-width: 777px) {
    .sign-up form {
        max-width: 47%;
    }
}

.sign-up form input {
    width: 100%;
    border-radius: 8px;
    border: 0;
    border: 1px solid #D1D1D1;
    margin: 15px 0;
}

.sign-up form input:focus {
    border: 0;
    border: 1px solid #FA7165;
}

.sign-up form .button-primary {
    border-radius: 50px;
    background-color: #FA7165;
    border-color: #FA7165;
    max-width: 48%;
    margin: 0 auto;
    margin-top: 40px;
    text-transform: none;
    font-size: 22px;
    font-weight: 300;
    height: 50px;
}

.sign-up form .button-primary:hover {
    background-color:  #fa6052;
    border-color: #fa6052;
    transition: ease .4s;
}

@media screen and (max-width: 530px) {
    .sign-up form .button-primary {
        max-width: 100%;
    }
}

#mc_embed_signup input.mce_inline_error {
    border-color: #D1D1D1 !important;
}

#mc_embed_signup div.mce_inline_error {
    background-color: #D1D1D1 !important;
}
/* -------------------- FOOTER -------------------- */

footer {
    padding: 20px;
    border-top: 1px solid #ebebeb;
    text-align: center;
}

footer p {
    font-size: 14px;
    color: #3A3A3C; 
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
    color: #3A3A3C;
    font-size: 18px;
}

/* footer svg {
    margin-left: 15px;
}

.links a:nth-child(1) {
    margin-right: 20px;
} */

@media screen and (min-width: 530px) {
    footer {
        display: flex;
        padding: 20px 40px;
        text-align: left;
    }

    footer .links {
        position: absolute;
        right: 40px;
    }

    /* .links a:nth-child(1) {
        margin-right: 45px;
    } */
}

@media screen and (max-width: 530px) {
    footer p {
        display: none;
    }

}

/* -------------------- PRODUCT PAGE -------------------- */
.product {
    margin-bottom: 100px;
}

.product img {
    max-width: 100%;
}

.product .text {
    margin-bottom: 30px;
    text-align: center;
}

.product h2 {
    font-size: 38px;
}

.product p {
    font-size: 24px;
}

.product a {
    color: #FA7165;
    border-color: #FA7165;
    border-radius: 0;
    box-shadow: 0px 0px 10px -2px rgba(209,209,209,1);
    padding: 5px 63px;
    height: auto;
    text-transform: none;
    font-size: 14px;
    font-weight: 500;
}

.product a:hover {
    color:  #fa6052;
    border-color: #fa6052;
    transition: ease .4s;
}

#products .container:after, #products .row:after, #products .u-cf {
    display: none;
}

#products .sign-up h2 {
    text-align: center
}

@media (min-width: 550px) {
    .product {
        display: flex;
        justify-content: space-between;
    }

    .product .text {
        width: 340px;
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
    }
}
.product figure {
    margin: 0;
}

.product figcaption a {
    border: 0;
    display: inline;
    box-shadow: none;
    padding: 0;
    color: #c5a785;
    text-decoration: none;
}